torchvision>=0.24.0
accelerate>=1.11.0
gradio>=5.49.1
pre-commit>=4.3.0
PyMuPDF>=1.26.5
av>=16.0.1
transformers>=4.57.1
spaces>=0.42.1

# sglang>=0.5.4  # using with sglang to infer
# vllm>=0.11.0   # using with vllm to infer
# not recommended to install sglang and vllm in the same environment